[**4626-app**](../../../../../index.md)

***

[4626-app](../../../../../index.md) / api/\_handlers/v1/agents/identity/\_verification

# api/\_handlers/v1/agents/identity/\_verification

## Functions

### default()

> **default**(`req`, `res`): `Promise`\<`any`\>

Defined in: [api/\_handlers/v1/agents/identity/\_verification.ts:212](https://github.com/wenakita/4626/blob/c2a42e6230549df4595e4edc67f4bf4d17f49898/frontend/api/_handlers/v1/agents/identity/_verification.ts#L212)

#### Parameters

##### req

`any`

##### res

`any`

#### Returns

`Promise`\<`any`\>
